<br>
<div id="user-<%= user.id %>" class="row">
  <div class="col-lg-8">
    <%= render 'shared/avatar', user: user %>
    <h5 class="name"><%= link_to user.email, user %></h5>
  </div>
  <div class="col-lg-4">
    <div class="follow">
    </div>
  </div>
</div>
<br>