<%= render 'dare_details' %>
<h3> Dare Accepted </h3>
<h3> Prove it </h3>
<%= link_to "Get Proof", '#', class: 'btn btn-primary' %>
<h3> Chicken Out </h3>
<%= link_to "Chicken Out", '#', class: 'btn btn-warning' %>

<%= link_to "Go Back", '#', class: 'btn btn-primary' %>