<%= link_to dare_room_path(dare_room), class: 'list-group-item' do %>
	<h4 class="list-group-item-heading">
		<%= dare_room.user.email %>
	</h4>
    <p class="list-group-item-text"><%= dare_room.title %></p>
<% end %>