<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pay Coins for Dare</h4>
      </div>
      <div class="modal-body">
        <p>
          <label for="amount">Minimum amount: 5 coins</label>
          <input type="text" id="dare_room_coins" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary center-block" data-dismiss="modal">Okay</button>
      </div>
    </div>
    </div>

  </div>